<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date Range Picker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container my-5">
        <h1 class="text-center mb-4">Reserve your parking spot</h1>
        <form id="booking-form">
            <div class="mb-3">
                <label for="unit" class="form-label">Unit</label>
                <div class="form-check">
                    {% for unit in units %}
                    <input class="form-check-input" type="radio" name="unit" id="{{ unit.id }}" value="{{ unit.name }}" required>
                    <label class="form-check-label" for="{{ unit.id }}">{{ unit.name }}</label>
                    <br>
                    {% endfor %}
                </div>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Name</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="daterange" class="form-label">Duration of Stay</label>
                <input type="text" class="form-control" id="daterange" name="daterange" required>
            </div>
            <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
        <br>
        <div id="spinner" style="display: none;">
            <div id = "loading-spinner" class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...
            </div>
        </div>
        <div id="response-message" class="mt-4"></div>
    </div>
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + "=")) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(function() {
            let start,end;
            $('input[name="daterange"]').daterangepicker({
                startDate :Date(),
                endDate : Date(),
                opens: 'left',
                locale: {
                    cancelLabel: 'Clear'
                },
                minDate: moment().add(1, 'days').toDate() ,
                isInvalidDate: function(date) {
                    return date.valueOf() <= moment().startOf('day').valueOf();
                }
            }, function(startDate, endDate, label) {
                start = startDate.format('YYYY-MM-DD');
                end = endDate.format('YYYY-MM-DD');
            });

            $('#booking-form').on('submit', function(e) {

                if (confirm('Are you sure you entered everything corretly')) {
                    e.preventDefault();
                    $('#response-message').hide();
                    $('#spinner').show();
                    const formData = {
                        unit: $('input[name="unit"]:checked').val(),
                        username: $('#username').val(),
                        email: $('#email').val(),
                        start_date: start,
                        end_date: end
                    };

                    $.ajax({
                        type: 'POST',
                        url: {% url 'reservations' %},
                        dataType: "json",
                        data: JSON.stringify(formData),
                        headers: {
                            "X-Requested-With": "XMLHttpRequest",
                            "X-CSRFToken": getCookie("csrftoken"),
                            csrfmiddlewaretoken: window.CSRF_TOKEN,
                        },
                        success: function(response) {
                            $('#spinner').hide();
                            $('#response-message').show();
                            if (response.success) {
                                $('#response-message').html('<div class="alert alert-success">' + response.message + '</div>');
                            } else {
                                $('#response-message').html('<div class="alert alert-danger">' + response.message + '</div>');
                            }
                        },
                        error: function(error) {
                            $('#spinner').hide();
                            $('#response-message').show();
                            console.error(error);
                            $('#response-message').html('<div class="alert alert-danger">' + response.message + '</div>');
                        }
                    });
                }
            });

        });

    </script>
</body>
</html>
